<html>
<head>
<title>PROFIT</title>
</head>
<body style="background-color: rgb(242, 247, 245);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROFIT 
    <form action="/Online_Market_Profit" method="POST">
      
        <label>Marketing_Spend:</label><input type="text" name="Marketing_Spend"><br><br>
        <label>Administration:</label><input type="text" name="Administration"><br><br>
        <label>Transport:</label><input type="text" name="Transport"><br><br>
        <label>Area:</label><input type="text" name="Area"><br><br>
       
        
        <input type="submit">
        <br><br>
        
        <br><br> <br><br> <br><br>
        <img src="static\flower1.jpg">
    </form>

</body>
</html>